/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* { box-sizing: border-box; }

body {
  background: #dcdcdc;
}

input[type="checkbox"]{
  accent-color: #f2c300; /* yellow like Figma */
}
